vehiclemonitoringapps.json
[{"id":"14ac0756.3b41e9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"116592f7.121cbd","type":"inject","z":"14ac0756.3b41e9","name":"time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":170,"y":200,"wires":[["b68ce7f1.628708"]]},{"id":"b68ce7f1.628708","type":"function","z":"14ac0756.3b41e9","name":"Device payload","func":"var petrolOil = [65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1];\nvar engineTemp = [40,60,80,90,100,120,130,110,90,80];\nvar batteryLevel = [20000,15000,20000,25000,30000,35000,30000,35000,40000,50000,55000,60000,65000,60000,65000];\nvar coolantLevel = [5,4.8,4.6,4.2,3.8,3.6,3.3,2.9,2.5,2.2,2.0,1.8,1.6,1.3,1.0,0.9,0.7,0.5,0.3,0.1];\nvar airCondtemp = [35,33,28,30,27,25,23,21,24,26];\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n//counter for petrol level\nvar counter2 = context.get('counter2')||0;\ncounter2 = counter2+1;\nif(counter2 > 64) counter2 = 0;\ncontext.set('counter2',counter2);\n\n//counter for battery level\nvar counter3 = context.get('counter3')||0;\ncounter3 = counter3+1;\nif(counter3 > 14) counter3 = 0;\ncontext.set('counter3',counter3);\n\n//counter level for coolant\nvar counter4 = context.get('counter4')||0;\ncounter4 = counter4+1;\nif(counter4 > 19) counter4 = 0;\ncontext.set('counter4',counter4);\n\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n\n        \"petrol\" : petrolOil[counter2],\n        \"engine\" : engineTemp[counter1],\n        \"battery\" : batteryLevel[counter3],\n        \"coolant\" : coolantLevel[counter4],\n        \"aircond\" : airCondtemp[counter1],\n\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["dea35584.6e74e8"]]},{"id":"dea35584.6e74e8","type":"json","z":"14ac0756.3b41e9","name":"","property":"payload","action":"","pretty":false,"x":580,"y":140,"wires":[["4653c6de.4d9cb8","35516897.e337e8","f154b5fa.ccd598","76075088.719d7","6f5839d0.a7e5f8","c74fc423.433428"]]},{"id":"4653c6de.4d9cb8","type":"debug","z":"14ac0756.3b41e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"f154b5fa.ccd598","type":"function","z":"14ac0756.3b41e9","name":"return engineTemp","func":"return {payload:msg.payload.d.engine};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":360,"wires":[["1327361b.86ba1a"]]},{"id":"76075088.719d7","type":"function","z":"14ac0756.3b41e9","name":"return batteryLevel","func":"return {payload:msg.payload.d.battery};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":440,"wires":[["c4aa0288.9e299"]]},{"id":"6f5839d0.a7e5f8","type":"function","z":"14ac0756.3b41e9","name":"return coolantLevel","func":"return {payload:msg.payload.d.coolant};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":520,"wires":[["3fcf1c5d.82ee94"]]},{"id":"c74fc423.433428","type":"function","z":"14ac0756.3b41e9","name":"return aircondTemp","func":"return {payload:msg.payload.d.aircond};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":600,"wires":[["b99354a8.744008"]]},{"id":"35516897.e337e8","type":"function","z":"14ac0756.3b41e9","name":"return petrol","func":"return {payload:msg.payload.d.petrol};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":300,"wires":[["267f82b2.76cb4e"]]},{"id":"267f82b2.76cb4e","type":"ui_gauge","z":"14ac0756.3b41e9","name":"","group":"878b44bc.7f13e8","order":8,"width":0,"height":0,"gtype":"gage","title":"Petrol","label":"Litres","format":"{{value}}","min":0,"max":"65","colors":["#b30000","#e6e600","#53d317"],"seg1":"10","seg2":"20","x":900,"y":240,"wires":[]},{"id":"1327361b.86ba1a","type":"ui_gauge","z":"14ac0756.3b41e9","name":"","group":"878b44bc.7f13e8","order":9,"width":0,"height":0,"gtype":"gage","title":"Engine Temperature","label":"Celsius","format":"{{value}}","min":"25","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":950,"y":360,"wires":[]},{"id":"c4aa0288.9e299","type":"ui_gauge","z":"14ac0756.3b41e9","name":"","group":"878b44bc.7f13e8","order":9,"width":0,"height":0,"gtype":"gage","title":"Battery Level","label":"mAh","format":"{{value}}","min":"0","max":"70000","colors":["#b30000","#e6e600","#3acb43"],"seg1":"5000","seg2":"10000","x":930,"y":420,"wires":[]},{"id":"3fcf1c5d.82ee94","type":"ui_gauge","z":"14ac0756.3b41e9","name":"","group":"878b44bc.7f13e8","order":9,"width":0,"height":0,"gtype":"wave","title":"Coolant Level","label":"Litres","format":"{{value}}","min":"0","max":"5","colors":["#b30000","#e6e600","#52cb3a"],"seg1":"1","seg2":"2","x":960,"y":500,"wires":[]},{"id":"b99354a8.744008","type":"ui_gauge","z":"14ac0756.3b41e9","name":"","group":"878b44bc.7f13e8","order":9,"width":0,"height":0,"gtype":"donut","title":"Aircond Temperature","label":"Celsius","format":"{{value}}","min":"18","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"32","x":980,"y":580,"wires":[]},{"id":"878b44bc.7f13e8","type":"ui_group","z":"","name":"Vehicle Monitoring Application","tab":"23d0c58f.64798a","order":2,"disp":true,"width":"6","collapse":false},{"id":"23d0c58f.64798a","type":"ui_tab","z":"","name":"Cloud","icon":"dashboard","disabled":false,"hidden":false}]